#chat-messages .fromID-4343261 .badge-box i,
#chat-messages .id-4343261 .badge-box i {
    background-image: url(https://mitchdev.net/pdj/icons/roomba.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#chat-messages .fromID-3843921 .badge-box i,
#chat-messages .id-3843921 .badge-box i {
    background-image: url(https://i.imgur.com/V4bvoZ8.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
