/* Less ugly footer */
#footer {
    background: linear-gradient(to bottom,rgba(30,34,41, 1) 0,rgba(21,23,28, 1) 100%);
}
#playlist-button {
    background: #1C1F25;
    background: linear-gradient(to bottom,rgba(57,63,76, 1) 0,rgba(34,38,46, 1) 100%);
}
/* Less saturated vote buttons */
#vote .crowd-response, .votes-rs {
    background: #1F2229;
}
#woot.crowd-response.disabled .bottom,
#grab.crowd-response.disabled .bottom, 
#meh.crowd-response.disabled .bottom {
    background: #1F2229;
    border-bottom: 4px solid #1F2229;
}
#vote .crowd-response.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.votes-rs .title.woot {
    background: #567339;
}
#woot .bottom {
/*     background: #567339; */
    background: #1F2229;
    border-bottom: 4px solid #567339;
}
#woot:not(.selected):hover .bottom,
#woot.selected .bottom, 
#vote #woot.crowd-response.selected,
#vote #woot.crowd-response.disabled.active .bottom {
    background: #567339;
    border-bottom: 4px solid #567339;
}
.votes-rs .title.grab {
    background: #735c99;
}
#grab .bottom {
/*     background: #735c99; */
    background: #1F2229;
    border-bottom: 4px solid #735c99;
}
#grab:not(.selected):hover .bottom,
#grab.selected .bottom, 
#vote #grab.crowd-response.selected,
#vote #grab.crowd-response.disabled.active .bottom {
    background: #735c99;
    border-bottom: 4px solid #735c99;
}
.votes-rs .title.meh {
    background: #73393e;
}
#meh .bottom {
/*     background: #73393e; */
    background: #1F2229;
    border-bottom: 4px solid #73393e;
}
#meh:not(.selected):hover .bottom,
#meh.selected, #meh.selected .bottom, 
#vote #meh.crowd-response.selected,
#vote #meh.crowd-response.disabled.active .bottom {
    background: #73393e;
    border-bottom: 4px solid #73393e;

}
