/*
BADGES
*/

/* GENERAL */

#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* patoxoro */

#user-rollover.id-4343261 .badge-box i.bdg,
.id-4343261 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/NM4dEsW.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* keinwein */

#user-rollover.id-22029396 .badge-box i.bdg,
.id-22029396 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/e7qgyOF.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Lukse:P */

#user-rollover.id-5485803 .badge-box i.bdg,
.id-5485803 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/kIhLJ3C.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*
CUSTOM ROOM SHIT
*/

#footer {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing .meta .bar .progress {
	background:#2D9400;
}
#footer-user .info.showing .meta .level .label {
	color:#EFEFEF;
}
#footer-user .info.showing .meta .level .value {
	color:#EFEFEF;
}
#footer-user .info.is-staff.showing .name {
	color: #0EB006;
}
#footer .shop-button {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.55) 0,rgba(0, 0, 0, 0.85) 100%);
}

/*
Custom Name Colours
*/

/*Kamilyt*/
[data-cid^="17528147"].cm .msg .from .un, #user-lists .list .role-manager.id-17528147 .name {
  color: rgb(252, 42, 122) !important;
}
